<footer class="footer">
	<div class="row-fluid">
		<p class="text-center text-muted">&copy; Copyright 2015 Anshul Kataria</p>
	</div>
</footer>
<!-- Placed at the end of the document so the pages load faster -->
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/main.js"></script>