<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-header">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand " href="/me/pages"><span class="fixed-header-heading">Facebook Page Manager</span></a>
        </div>
        <div class="collapse navbar-collapse" id="top-header">
          <ul class="nav pull-right">
            <li class="logout"><a href="/logout">Logout</a></li>
          </ul>
        </div>
    </div>
  </div>
</nav>