<!-- Modal -->
<div id="newPostForm" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Edit Introduction</h3>
    </div>
      
      <div class="modal-body">
          <form id="InfroText" method="POST">
            <input name="InfroText" value="1" type="hidden">
            <table>
              <tbody>
                <tr><td>Title</td><td><input name="title" id="title" style="width:300px" type="text"><span class="hide help-inline">This is required</span></td></tr>
                <tr><td>Introudction</td><td><textarea name="contect" style="width:300px;height:100px"></textarea></td></tr>
              </tbody>
          </table>
          </form>
      </div>
      
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary" data-dismiss="modal" id="InfroTextSubmit">Save changes</button>
      </div>
    </div>

  </div>
</div>