<!-- Modal -->
<div id="viewPostModal" class="new-post-modal modal fade" role="dialog">
  <div class="modal-dialog ">

    <!-- Modal content-->
    <div class="new-post-modal-content modal-content">
      <div class="new-post-modal-header modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3>Post Details</h3>
      </div>
      
      <div class="new-post-modal-body modal-body">
        <div id="viewPostModalContent"></div>
      </div>
    </div>

  </div>
</div>
