<!-- Modal -->
<div id="viewPostModal" class="new-post-modal modal fade" role="dialog">
  <div class="modal-dialog ">

    <!-- Modal content-->
    <div class="new-post-modal-content modal-content">
      <div class="new-post-modal-body modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <div class="view-post-content">
          <div id="view-post-header">  
            <div id="view-post-image-container">
              <img src="/img/default.png" id="view-image"></img>
            </div>
            <div id="view-post-owner-info">
              <div id="view-post-owner" ></div>
              <div id="view-post-time"></div>
            </div>
          </div>
          <div id="view-post-dynamic-data">
            <div id="view-post-message" class="view-post-body"> </div>
            <div id="view-post-media-content" class="view-post-body"></div>
            <div id="view-post-scheduled" class="view-post-body"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
