.brand {
    font-family: helvetica,arial,sans-serif;
}

a.plain:link {
    color: #333;
    text-decoration: none;
}

a.plain:active {
    color: #333;
    text-decoration: none;
}

a.plain:visited {
    color: #333;
    text-decoration: none;
}

a.plain:hover {
    color: #333;
    text-decoration: none;
}

.status-bar {
    height: 60px;
}

.about-icon {
    float: left;
    margin-right: 12px;
}

.footer {
    margin-top: 30px;
    padding-top: 10px;
    color: #999;
    border-top: solid 1px #ddd;
}

.footer > p {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

h5 {
    width: 100%;
    white-space: nowrap;
    margin-bottom: 4px;
}

.thumbnail {
    min-width: 260px;
}

.thumbnails li {
    margin-left: 0px !important;
    margin-right: 20px !important;
}

legend {
    font-family: helvetica,arial,sans-serif;
}

.home-hero {
    font-family: helvetica,arial,sans-serif;
    font-size: 36;
    color: white;
    background-image: url('../img/index.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -19px;
    padding: 180px;
    text-align : center;
    text-shadow: 1px 1px 1px #000;
}

@media only screen and ( max-width : 1000px ) {
    .home-hero {
        padding:100px;
    }
}

@media only screen and ( max-width : 480px ) {
    .home-hero {
        padding:32px;
    }
}


.home-hero .btn {
    font-family: helvetica,arial,sans-serif;
    width: 160px;
    margin: 10px 4px;
}

.well h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.btn-xlarge {
    font-size: 22px; 
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

body{
    background-color: #E9EAED;
}

.heading{    
    padding: 15px 15px ;
    border-bottom: 1px solid #E5E5E5;
    font-family: helvetica,arial,sans-serif;
    font-size: 16px;
    color: #4E5665;
    margin-bottom: 12px;
}

.white{
    background-color: #FFF;
}

.page-table-header{
    background-color: #F6F7F8;
    background-image: linear-gradient(#FFF, #EFEFEF);
}

.page-table-data{
    word-wrap: break-word;
    padding: 10px 20px;
}

.page-table-content{
    padding-top: 10px;
}

.page-table-header-data{
    border-right-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #D3D3D3;
}

.heading h1, .heading h4{
    color: #4E5665;    
}

.post-row{
    cursor: pointer;
}

.page-row:hover, .post-row:hover {
    background-color: #EDF0F9;
}

.empty{
    padding: 10px 10px;
}

.index-button a{
    background-color: #365690;
    padding: 15px 15px;
    border-radius: 3px;
    color: white;  
    font-size: 18px;
    margin: 15px;
}

.index-button a:hover{
    text-decoration: none;
}

.seperator{
    border-bottom: 1px solid #DCDEE3;
}

.filter{
    padding: 0px 8px;
}

.page-side-bar{
    padding: 10px 10px;
}

.page-post-heading{
    padding: 15px 15px;
}

.new-post-modal-nav li.active a,
.new-post-modal-nav li.active a:focus,
.new-post-modal-nav li.active a:hover{
    color: #FFF;
    background-color: #337AB7
}

.new-post-modal-form-submission{
    text-align: right;
    padding-top: 10px;
}

.loader-active {
    position: relative;
    width: 100%;
    height: 100px;
    z-index: 9999;
    background: url('../img/loading.gif') 50% 50% no-repeat rgb(249,249,249);
}

.navbar-inverse{
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAqCAMAAABFoMFOAAAAWlBMVEVOaaJDYJxCX5xBXptIZJ9MZ6E/XJpFYZ1KZqA9W5lGYp5HY55MaKFJZZ9LZqBEYZ1NaaJNaKJNaKFAXZtAXZpLZ6E+XJo+W5lJZaA9Wpk8Wpk8Wpg8WZg7WZj2xcGWAAAANElEQVR42lWGSQoAIBDDHCjo0f8/UxBxQDQuFwlpqgBZBq6+P+unVY1GnDgwqbD2zGz5e1lBdwvGGPE6OgAAAABJRU5ErkJggg==");
    background-repeat: repeat-x;
    background-size: auto auto;
    background-position: 0px 0px;
    background-color: #3A5795;
    border-width: 0px 0px 1px;
    border-style: none none solid;
    border-color: -moz-use-text-color -moz-use-text-color #133783;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.52);
}

.navbar-inner a{
    color: white;
}

.fixed-header-heading{
    font-size: 20px;
    color: white;
}

li.logout a,
li.logout a:hover,
li.logout a:focus{
    background-color: transparent;
    font-size: 16px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
}

.line-break{
    margin: 15px 0px 15px 0px;
    padding: 5px 1px 5px 0px;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    background-color: #F6F7F8;
}

#newPostForm input {
    margin-bottom: 7px;
    min-height: 20px;

}

.new-post-modal-header{
    background-color: #F6F7F8;
}

.call-to-action{
    display: none;
}

.schedule-time{
    display: none;
}

#newPostForm input.callToAction[type=checkbox]:checked ~ div.call-to-action {
    display:block;
}

#newPostForm input.scheduleLater[type=checkbox]:checked ~ div.schedule-time {
    display:block;
}


#newPostForm .call-to-action{
    margin-bottom: 7px;
}

.view-post{
    padding-top: 10px;
    line-height: 22px;
    font-size: 16px;
}
.post-image{
    height: 30px;
    vertical-align: middle;
    width: 30px;
}
.post-message{
    padding-left: 2px;
}

#view-post-content{
    width: 100%;
}
#view-post-header{
    width: 100%;
}
#view-post-image-container{
    float:left;
    padding: 5px;
}
#view-post-owner-info{
    width:auto; 
    padding-left:75px; 
    vertical-align: middle;
}
#view-post-owner{
    height:35px;
    padding-top: 7px;
    font-size: 16px;
    font-weight: bold;
}
#view-post-time{ 
    height:35px;
    padding-top: 5px;
}
#view-image{
    height: 60px;
    width: 60px;
}
#view-post-dynamic-data{
    width: 100%;
    padding-left: 5px;
}
#view-post-media-content{
    text-decoration: none;
}


.photo-image{
    height: auto;
    width: 100%;
    max-height: 400px;
}

.view-post-body, .view-post-media-content{
    width:100%; 
    height:auto;
    margin-top: 10px;
}
.view-post-media-content{
    padding-left: 5px;
}
.page-details-container{
    vertical-align: middle;
}
.page-image{
    width: 100%;
}