<% layout('layout') -%>

<div class="header">
	<% include ../partials/header %>
</div>


<div class="container">
    <div class="row-fluid">
        <div id="content" class="span12>">
        	<div class="home-hero">
			            <h1>Something went wrong</h1>
			</div>
        </div>
    </div>
</div>