<% layout('layout') -%>

<div class="header">
	<% include ../partials/header %>
</div>

<div class="container">
    <div class="row">
        <div id="content" class="col-xs-12 col-sm-12 col-md-12">
        	<div class="home-hero">
			            <h1>Welcome to Facebook Page Manager</h1>
			            <h3>An applicatoin to manage Facebook pages</h3>

			    <br/>
			    <% if(!loggedIn){ %>
				    <div style="opacity: 1;">
				        <a href="/login"><img src="img/fblogin.png" /></a>
				    </div>
			    <% }else{ %>
			    	<div class="index-button" style="opacity: 1;">
				        <a href="/me/pages">View Managed Pages</a>
				        <a href="/logout">Login with other account</a>
				    </div>
			    <% } %>
			</div>
        </div>
    </div>
</div>