<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>

<body>

	<div class="header">
		<% include ../partials/header %>
	</div>


	<div class="container">
	    <div class="row-fluid">
	        <div id="content" class="span12>">
	        	<div class="home-hero">
				            <h1>Welcome to Facebook Page Manager</h1>
				            <h3>An applicatoin to manage Facebook pages</h3>

				    <br/>
				    <div style="opacity: 1;">
				        <a href="login"><img src="img/fblogin.png" /></a>
				    </div>
				</div>
	        </div>
	    </div>
	</div>

	<footer class="footer">
		<% include ../partials/footer %>
	</footer>

<!-- Placed at the end of the document so the pages load faster -->
<script src="javascript/jquery.js"></script>
<script src="javascript/bootstrap.min.js"></script>

</body>
</html>