<% layout('layout') -%>

<div class="header">
	<% include ../partials/loggedInHeader %>
</div>

<% include ../partials/loader %> 
<div class="container loaded">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 heading white">
        	Pages Owned by You
        </div>
    </div>

	<% if(pages!=null && pages.length != 0){ %>
		<% include ../partials/filter %>
		<div class="page-table-header row seperator">
			<div class="col-xs-9 col-sm-9 col-md-9 page-table-data">Page Name</div>
			<div class="col-xs-3 col-sm-3 col-md-3 page-table-data">Manage</div>	
		</div>
		<% for(var i=0; i < pages.length; i++) { %>
			<div class="white row seperator">
					<a href='/page/<%= pages[i].id %>/posts/Published'> 
			    	<div class="col-xs-9 col-sm-9 col-md-9 page-table-data truncate"> <%= pages[i].name %></div>
			    	<div class="col-xs-3 col-sm-3 col-md-3 page-table-data">Manage
			    	</div>
			    </a>
			</div>
		<% } %>
	<% } else{ %>  
	   <div class="white empty"> No Pages owned by you !</div>
	<% } %>	        
    <script>
    		var errorMessage= "<%- error %>"; 
			if(errorMessage != "" && errorMessage != "null"){
				alert(errorMessage);
			}
    </script>
</div>