<% layout('layout') -%>

<% include ../partials/loader %>
<div class="header">
	<% include ../partials/loggedInHeader %>
</div>


<div class="container">
    <div class="row-fluid">
        <div class="span12 heading white">
        	Pages Owned by You
        </div>
    </div>
    <div class="row-fluid ">  
		<% if(pages!=null && pages.length != 0){ %>
			<% include ../partials/filter %>
			<div class="white page-table">
				<div class="page-table-header row-fluid seperator">
					<div class="span9 page-table-data">Page Name</div>
					<div class="span3 page-table-data">Manage</div>	
				</div>
				<% for(var i=0; i < pages.length; i++) { %>
					<div class="page-table-content page-row row-fluid seperator">
							<a href='/page/<%= pages[i].id %>/posts/Published'> 
					    	<div class="span9 page-table-data truncate"> <%= pages[i].name %></div>
					    	<div class="span3 page-table-data">Manage
					    	</div>
					    </a>
					</div>
				<% } %>
			</div>
		<% } else{ %>  
		   <div class="white empty"> No Pages owned by you !</div>
		<% } %>	        
    </div>
</div>