<div class="new-post-modal-form-submission">
  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  <input class="btn btn-primary" type="submit" value="<%= active_link.published ? 'Publish': 'Create Post'%>"></input>
</div>