<div id="new-post-modal-video" class="tab-pane fade">
  <form id="newPostForm" method="POST" enctype="multipart/form-data" action="/page/<%= page_details.id %>/post/<%= active_link.unpublished ? 'unpublished' : 'published' %>">
    <textarea name="message" style="width:100%; min-height:140px; padding-right:10px;" placeholder="Say something.." type="text" ></textarea >
    <ul class="nav nav-tabs new-post-modal-nav">
      <li class="active"><a data-toggle="tab" href="#photo-link">Link</a></li>
      <li><a data-toggle="tab" href="#photo-upload">Upload</a></li>
    </ul>
    <div class="tab-content">
      <div id="photo-link" class="tab-pane fade in active">
        <input type="text" name="url" placeholder="Enter url of the photo.."></input>
        <input type="hidden" name="type" value="photo_link"></input>
      </div>
      <div id="photo-upload" class="tab-pane fade">
        <input name="" type="file" accept="video/*" ></input>
        <input type="hidden" name="type" value="photo_upload"></input>
      </div>
    </div>
    <% include formSubmit %>
  </form>
</div>