<div id="new-published-post-modal-video" class="tab-pane fade">

    <ul class="nav nav-tabs new-post-modal-nav">
      <li class="active"><a data-toggle="tab" href="#published-video-link">Link</a></li>
      <li><a data-toggle="tab" href="#published-video-upload">Upload</a></li>
    </ul>
    <div class="tab-content">
      <div id="published-video-link" class="tab-pane fade in active">
        <form id="newPostForm" onsubmit="formSubmission(this, event);" method="POST" enctype="multipart/form-data" action="/page/<%= page_details.id %>/post/<%= posts_type %>">
          <input type="text" name="url" style="width:100%" placeholder="Enter url of the video.." required 
          oninvalid="this.setCustomValidity('This url appears to be blank. Please write url.')" onchange="this.setCustomValidity('')"></input>
          <div class="line-break"> Optional :</div>
          <textarea name="message" style="width:100%; min-height:140px; padding-right:10px;" placeholder="Say something.." type="text" ></textarea >
          <input type="hidden" name="type" value="video"></input>
          <% if(active_link.unpublished){ %>
            <input type="checkbox" name="scheduleLater" class="scheduleLater">Schedule for Later:<br>
            <div class="schedule-time" >
              <input type="text" data-field="datetime" name="datetime" placeholder="Select Date" readonly>
              <div id="dtBox"></div>
            </div>
          <% }%> 
          <% include formSubmit %>
        </form>
      </div>
      <div id="published-video-upload" class="tab-pane fade">
        <form id="newPostForm" onsubmit="formSubmission(this, event);" method="POST" enctype="multipart/form-data" action="/page/<%= page_details.id %>/post/<%= posts_type %>">
          <input name="source" type="file" accept="video/*" required 
          oninvalid="this.setCustomValidity('This video appears to be blank. Please upload video.')" onchange="this.setCustomValidity('')" ></input>
          <div class="line-break"> Optional :</div>
          <textarea name="message" style="width:100%; min-height:140px; padding-right:10px;" placeholder="Say something.." type="text" ></textarea >
          <input type="hidden" name="type" value="video"></input>
          <% if(active_link.unpublished){ %>
            <input type="checkbox" name="scheduleLater" class="scheduleLater">Schedule for Later:<br>
            <div class="schedule-time" >
              <input type="text" data-field="datetime" name="datetime" placeholder="Select Date" readonly>
              <div id="dtBox"></div>
            </div>
          <% }%> 
          <% include formSubmit %>
        </form>
      </div>
    </div>

</div>